<!DOCTYPE html>
<html>

<head>
    <title>Likert</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">    
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/bootstrap-material-design@0.5.10/dist/js/material.js"></script>
    <script src="https://unpkg.com/bootstrap-material-design@0.5.10/dist/js/ripples.js"></script>
    <script src="https://surveyjs.azureedge.net/1.0.77/survey.jquery.js"></script>
    
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@0.5.10/dist/css/bootstrap-material-design.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@0.5.10/dist/css/ripples.css">
    <link rel="stylesheet" href="../static/likert.css">


</head>

<body>
    <div id="surveyElement"></div>
    <!-- <div id="surveyResult"></div> -->

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="../static/{{data}}"></script>
    <script src="../static/likert.js"></script>
    
</body>

</html>