<!doctype html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137859033-1"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-137859033-1');
            </script>
        <!--End Script-->

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="../static/qv.css">        
        <title>Survey</title>
    </head>
    <body>
        <div id="cover"><img id="loading_img" src='/static/loading.gif' style="min-width: 100%;"></div>
        <!--Section with all the text and explanation-->
        <div class="container">
            <h1>Quadratic Voting</h1>
            <div>
                <div id="example" style="display: none">
                    <h2>Example: What is Quadratic Voting</h2>
                    <h3>This page is not part of the survey itself, but a playground for you to understand how Quadratic Voting works.</h3>
                    <p>
                        For the following question, you will use a <b>Binary Quadratic Voting</b> method to express your preferences.
                        <br /><br />
                        You will be given a budget of a certain number of voice credits. You will use the available credits to cast votes.
                        For this example: Imagine hosting a party at my house. What type of food do you prefer for dinner?
                        you can cast a number of <b>upvotes using the “+1” sign</b>. If you are against the idea of having this type of cuisine,
                        you can cast a number of <b>downvotes using the “-1” sign</b>.
                        If you are neutral or feel less strongly for a kind of information compared to others, you can choose to cast <b>no vote</b>.

                        <br /><br />
                        Based on the intensity of your opinion, you can cast 1 or more upvotes or downvotes for each kind of information.
                        The stronger your opinion is, the more votes you can put on one option.
                        At the same time, as the number of votes increases, the voice credits it costs increases quadratically,
                        i.e. <b>X votes will cost X^2 (square of X) credits</b>.
                        The total cost of some common number of votes is specified in the table below:
                    </p>
                    <table style="width:100%">
                        <tr>
                            <th>Number of up or down votes</th>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                            <td>7</td>
                            <td>8</td>
                            <td>9</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <th>Cost in number of voice credits</th>
                            <td>1</td>
                            <td>4</td>
                            <td>9</td>
                            <td>16</td>
                            <td>25</td>
                            <td>36</td>
                            <td>49</td>
                            <td>64</td>
                            <td>81</td>
                            <td>100</td>
                        </tr>
                    </table>
                    <br>
                    <p>
                        <br/>
                        <b>You cannot exceed the budget of given voice credits for the following question, but you do not have to use up all the available credits either.</b>
                        You can see the total number of voice credits you have and how many credits you have spent already in the <b>“Summary” section</b> below.
                        Play with this example and see how Quadratic Voting works.
                        When youare ready, press submit and continue with the following questionnairs.
                    </p>
                    <h4> Again, in this playground, suppose you are making your voice in deciding what to get for dinner, cast up and down votes for each of the Cuisine. In this example, you will be given a total of 10 voice credits. Enough for you to play around with how this system works. <br>
                    In the following survey, each page will serve the same question but there will be various number of voice credits avaliable or a difference in voice credit calculation.<br>
                    When your ready, submit your results and move on.
                    </h4>
            </div>

            <div id="binary" style="display: none">
                <h2>Instruction for Binary Quadratic Voting</h2>
                <p>Forgot How Quadratic Voting works? 
                    <br>
                    <div class='btn' id="bqv_btn" onclick='toggle("bqv_btn", "bqv_text")'>Show</div>
                </p>
                
                <div id="bqv_text" style="display: none">
                <p>
                    For the following question, you will use a <b>Binary Quadratic Voting</b> method to express your preferences.
                    <br /><br />
                    You will be given a budget of a certain number of voice credits. You will use the available credits to cast votes.
                    If you are willing to share the specified kind of information with XYZ Advertising Company,
                    you can cast a number of <b>upvotes using the “+1” sign</b>. If you are against the idea of sharing a kind of information,
                    you can cast a number of <b>downvotes using the “-1” sign</b>.
                    If you are neutral or feel less strongly for a kind of information compared to others, you can choose to cast <b>no vote</b>.

                    <br /><br />
                    Based on the intensity of your opinion, you can cast 1 or more upvotes or downvotes for each kind of information.
                    The stronger your opinion is, the more votes you can put on one option.
                    At the same time, as the number of votes increases, the voice credits it costs increases quadratically,
                    i.e. <b>X votes will cost X^2 (square of X) credits</b>.
                    The total cost of some common number of votes is specified in the table below:
                </p>
                <table style="width:100%">
                    <tr>
                        <th>Number of up or down votes</th>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <th>Cost in number of voice credits</th>
                        <td>1</td>
                        <td>4</td>
                        <td>9</td>
                        <td>16</td>
                        <td>25</td>
                        <td>36</td>
                        <td>49</td>
                        <td>64</td>
                        <td>81</td>
                        <td>100</td>
                    </tr>
                </table>
                <br>
                <p>
                    <br/>
                    <b>You cannot exceed the budget of given voice credits for each question,
                        but you do not have to use up all the available credits either.</b>
                    You can see the total number of voice credits you have and how many credits you have spent
                    already in the <b>“Summary” section</b> below.
                    <br /><br />
                    <b>As an example</b>, imagine that you are given a total of 5 voice credits to vote on information A, B and C.
                    <br /><br />
                    <b>Case 1:</b> If you feel equally strongly about all of them, one way to vote is to cast 1 upvote or downvote on each kind of information,
                    which will cost 3 voice credits in total.
                    <br />
                    <b>Case 2:</b> If you feel particularly strongly about information A but not so much for C, another way to vote is to cast 2 votes (cost 4 credits) on A, 1 vote (cost 1 credit) on B, and 0 vote (cost 0 credit) on C, which will cost 5 credits in total.
                    In the second case, you cannot cast any more vote on C because the votes on A and B already use up the budget of 5 credits.
                </p>
                </div>
            </div>

                <div id="partial" style="display: none">
                    <h2>Instruction for Partial Binary Quadratic Voting</h2>
                    <p>Forgot How Quadratic Voting works? Or you want a full discription of how Partial Binary Quadratic Voting works?
                        <br>
                        <div class='btn' id="bqv_btn2" onclick='toggle("bqv_btn2", "bqv_text2")'>Show</div>
                    </p>
                    
                    <div id="bqv_text2" style="display: none">
                        <p>
                            For the following question, you will use a <b>Partial Binary Quadratic Voting</b> method to express your preferences.
                            <br /><br />
                            Similar to Binary Quadratic Voting, you will be given a budget of a certain number of voice credits.
                            You will use the available credits to cast votes.
                            If you are willing to share the specified kind of information with XYZ Advertising Company,
                            you can cast a number of <b>upvotes using the “+1” sign</b>. If you are against the idea of sharing a kind of information,
                            you can cast a number of <b>downvotes using the “-1” sign</b>.
                            If you are neutral or feel less strongly for a kind of information compared to others, you can choose to cast <b>no vote</b>.
                            Based on the intensity of your opinion, you can cast 1 or more upvotes or downvotes for each kind of information.
                            The stronger your opinion is, the more votes you can put on one option.
                            <br /><br />

                            For the first and second vote, they each cost only 1 voice credit.
                            Starting with the third vote, as the number of votes increases, the credits it costs increases quadratically,
                            i.e. <b>X votes after 2 votes will cost X^2 (square of X) points</b>.
                            The total cost of some common number of votes is specified in the table below:
                        </p>
                        <table style="width:100%">
                            <tr>
                                <th>Number of up or down votes</th>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <th>Cost in number of voice credits</th>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>6</td>
                                <td>11</td>
                                <td>18</td>
                                <td>27</td>
                                <td>38</td>
                                <td>51</td>
                                <td>66</td>
                            </tr>
                        </table>

                        <p>
                            <br/>
                            <b>You cannot exceed the budget of given voice credits for each question,
                                but you do not have to use up all the available credits either.</b>
                            You can see the total number of voice credits you have and how many credits you have spent
                            already in the <b>“Summary” section</b> below.
                            <br /><br />
                            <b>As an example</b>, imagine that you are given a total of 6 voice credits to vote on information A, B and C.
                            <br /><br />
                            <b>Case 1:</b> If you feel equally strongly for all of them,
                            one way to vote is to cast 2 upvote or downvote on each kind of information, which will cost 6 credits in total.
                            <br />
                            <b>Case 2:</b> If you feel particularly strongly for information A but not so much for B or C,
                            another way to vote is to cast 4 votes (cost 6 credits) on A, 0 vote on B and C (cost 0 credit), which will cost 6 credits in total.
                            In the second case, you cannot cast any more vote on C because the votes on A and B already use up the budget of 6 credits.
                        </p>
                    </div>

                    <h3 style="color: red">Important Notice</h3>
                    <p>
                        Partial Binary Quadratic Voting differs from the regular qudratic voting procedure only by a little. We give a brief summary here. Feel free to read the entire instruction above. Recall the example you played with, the "quadratic procedure" starts at your first vote on any option. Here, the first two votes and netural cost the same! <br> See the following table, notice that there are initial costs when you decide to stay netural? (costing 1 voice credit) <br>
                        In addition, the first two votes of either for or against costs 1 voice credits each. The "quadratic procedure" starts from the third vote.
                    </p>
                    <table style="width:100%">
                            <tr>
                                <th>Number of up or down votes</th>
                                <td style="background: rgba(255, 255, 0, 0.5)">0</td>
                                <td style="background: rgba(255, 255, 0, 0.5)">1</td>
                                <td style="background: rgba(255, 255, 0, 0.5)">2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <th>Cost in number of voice credits</th>
                                <td style="background: rgba(255, 255, 0, 0.5)">1</td>
                                <td style="background: rgba(255, 255, 0, 0.5)">2</td>
                                <td style="background: rgba(255, 255, 0, 0.5)">3</td>
                                <td>4</td>
                                <td>7</td>
                                <td>12</td>
                                <td>19</td>
                                <td>28</td>
                                <td>39</td>
                                <td>52</td>
                                <td>67</td>
                            </tr>
                        </table>

                </div>
            </div>
            <div id="not_example">
                <h2>Question</h2>
                <p style="display:inline">
                    Suppose that you use only your home computer to access the WebMD website, and that nobody else uses this computer.
                    We know that Advertising Companines collect user information to provide services or serve targeted ads. However, with privacy awareness grown, we would like to know what information you would or would not want to share.
                    Based on the information that your read above, please use <b class='type'>Binary Quadratic Voting</b> to indicate what information you would allow XYZ Advertising Company to collect for the purpose of showing you targeted ads only on the WebMD website. Note that the following information will be retained for one day.
                    <br/><br/>
                </p>
            </div>
            <div>
                In this setting, using <div class='type' style="display:inline;"></div>, you have a total of <div class='total_votes' style="display:inline; font-weight: bold;"></div> <b>points</b> for the following choices. You do not need to use up all the points, but you cannot exceed <div  class='total_votes' style="display:inline"></div> points.
            </div>

        </div>

        <div class="container summary">
            <h2>Summary</h2>
            <div>
                <p style='display:inline'>Used </p>
                <p id="used_votes" style='display:inline'></p>
                <p style='display:inline'> voice credits out of </p>
                <p id="total_votes" style='display:inline'></p>
            </div>
            <div class="progress">
                <div id='bar' class="determinate" style="width: 0%"></div>
            </div>
            <div class='btn' id="other">Submit</div>
            <br>
            <h4>Note that you cannot come back to this page after you submit.</h4>
        </div>

        <!--Section with all the questions-->
        <form id='qv_form' class="container">
            <div>
                {% for question in q_list %}
                    <!--if question is QV-->
                    {% if question['type'] == 'qv' %}
                    <h3>{{ question['question'] }}</h3>
                    <div label class="">
                        {% for option in question['options'] %}
                        <div class='option'>
                            <a class="light-blue lighten-5 waves-effect waves-light plus qvbtn btn">+1</a>
                            <a class="light-blue lighten-5 waves-effect waves-light minus qvbtn btn">-1</a>
                            <h4 class="qv_option" style="display:inline; margin-left:1em; margin-right:1em;">{{ option }}</h4>
                            <div class='placeholder' style="display:inline;"></div>
                            <!-- <i class="far fa-check-circle icon" style="display:inline; color:green; vertical-align: text-bottom;"></i>
                            <i class="far fa-times-circle icon" style="display:inline; color:red; vertical-align: text-bottom;"></i> -->
                            <br>
                            <p style="display:inline">Voted</p>
                            <input class="qv_vote" name={{option}} type='qv' style="display:inline" value=0 readonly>
                            <p style="display:inline"> , costs</p>
                            <p class="qv_cost" style='display:inline' value=0 readonly>0</p>
                            <p style="display:inline">voice credits</p>
                        </div>
                        <br>
                        {% endfor %}
                    </div>
                    {% endif %}
                    
                    <!--if question is puretext-->
                    {% if question['type'] == 'title' %}
                    <h3 class='qv_title'>{{ question['content'] }}</h3>
                    {% endif %}

                    <!--if question is textinput-->
                    {% if question['type'] == 'short_question' %}
                    <h3>{{ question['question'] }}</h3>
                    <div class="input-field col s12">
                            <textarea name='result' type='text' id="textarea2" class="materialize-textarea"></textarea>
                    </div>
                    {% endif %}

                    <!--if question is choice-->
                    {% if question['type'] == 'choice' %}
                    <h3>{{ question['question'] }}</h3>
                    <!-- <div class="input-field col s12"> -->
                    <select name='result' type='choice'>
                        {% for option in question['options'] %}
                            <option value={{option}}>{{ option }}</option>                
                        {% endfor %}
                    </select>
                    <!-- </div> -->
                    {% endif %}
                {% endfor %}
            
            </div>
            <input type="submit" style="display: none">

        <br><br><br>
            <!-- <input type="submit"> -->
        </form>





        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script src="../static/jquery-magnet.js"></script>
        <script src="../static/{{filename}}"></script>
        <script src="../static/qv_general.js"></script>
        
    </body>

</html>
