<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
            shrink-to-fit=no">
        <link rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="/static/qv.css">
        <title>QV!</title>
        <style>
        h2 {font-size: 1.5em;}
        h3 {
            font-size:1.1em;
            font-weight:500;
            margin-top:1em;
            margin-bottom:0.3em;
        }
        </style>
    </head>

    <body>
        <div class="container">
            <h1>Welcome to the study</h1>
            <h2>Consent Form for Impression to Internet Advertising Pilot Study Survey</h2>
        </div>
        <div class="container">
            <h4><i>Commitment of Full Disclosure & Non-deception:<br> We make every effort to be fully open and truthful to participants.</i></h4>
            <p>
                You are being asked to participate in a voluntary research study. The purpose of this study is to use multiple survey instruments to collect Internet users’ impression of advertising on the Internet and compare the results. Participating in this study will involve an online survey and your participation will last approximately 15 – 20 minutes. We are not aware of any risks related to this research beyond those incurred in everyday life; benefits related to this research potentially contribute to improving the experience of Internet usage and the field of Human Computer Interaction research. 
                <br><br>    
                - Principal Investigator Name and Title: Dr. Hari Sundaram
                <br>
                - Department and Institution: Computer Science, UIUC
                <br>
                - Contact Information: <a href="mailto:hs1@illinois.edu">Hari Sundaram</a>
            </p>
            <h3>Purpose and Procedures:</h3>
            <p>
                <b></b> This research project uses multiple survey instruments to get people’s impression of advertising on the Internet. If you agree to take part in this study, we will conduct a survey of 15 to 20 minutes with you that involves questions of your thoughts and experience related to the topic mentioned above. The survey response will be collected anonymously.
            </p>
            <h3>Voluntariness:</h3>
            <p>
                Your participation in this research is voluntary. You may refuse to participate or discontinue participation at any time. 
            </p>
            <h3>Risks and Benefits:</h3>
            <p>
                By participating in this research, you will potentially contribute to improving the experience of Internet usage and the field of Human Computer Interaction research. 
            </p>
            <h3>Compensation:</h3>
            <p>
                There is no compensation applicable to the study.
            </p>
            <h3>Confidentiality:</h3>
            <p>
                <b>Will my study-related information be kept confidential?</b><br>
                In this survey, no question about your identity (e.g. name, NetID, email) will be asked. The survey responses are anonymized and stored in a secured location. In discussion of this research for class purposes, no personally identifying information will be disclosed, and no one will know that you were in the study. <br>
                In very rare cases, laws and university rules might require us to disclose information about your survey response. Since no personal identifying information is collected in the first place, only your survey response may be seen or copied by the following people or groups if required by laws or University Policy:<br>
                <ul style='margin-left:1em'>
                    <li>• The university committee and office that reviews and approves research studies, the Institutional Review Board (IRB) and Office for Protection of Research Subjects;</li>
                    <li>• University and state auditors, and Departments of the university responsible for oversight of research;</li>
                    <li>• Federal government regulatory agencies such as the Office of Human Research Protections in the Department of Health and Human Services;</li>
                </ul>
            </p>
            <h3>Contact:</h3>
            <p>
                Questions about this research study should be directed to Professor Hari Sundaram (hs1@illinois.edu) in the Department of Computer Science. If you want to receive a copy of this consent form, please contact Ti-Chung Cheng (tcheng10@illinois.edu) or Tiffany Wenting Li (wenting7@illinois.edu).
            </p>
            <h3>Dissemination of Results:</h3>
            <p>
                The results will only be submitted and presented in an UIUC class, CS598 Advanced Social and Information Network. It will not be disseminated publicly. The data collected will not be shared with anyone else.
            </p>
            
            <h2>By continuing, I certify that I have read this form and volunteer to participate in this research study. I am 18 years of age or older.</h2>
                <a id='next' class="waves-effect waves-light btn-small" href='#'>Next</a>
                <!-- <a class="waves-effect waves-light btn-small">A button without use</a> -->
        

        <br>
        <br>
        <br>
        <br>
        <br>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
        <script src="/static/next.js"></script>
        <script>
            
            $( document ).ready(function() {
                const URL='/api/getScript'
                $.get(URL, function(data, status){
                    Cookies.set('script', data["path"]);
                    Cookies.set('next', JSON.stringify(sequence[data["path"]]));
                    var seq = JSON.parse(Cookies.get('next'));
                    $('#next').attr("href", seq.shift());
                    Cookies.set('next', JSON.stringify(seq));
                });

            });
        </script>

    </body>